@font-face {
    font-family: 'calibre';
    src: url('./assets/fonts/calibre/CalibreBlack.otf');
}

@font-face {
    font-family: 'sf-mono';
    src: url('assets/fonts/sf-mono-cufonfonts/')
}

html {
    scroll-behavior: smooth;
}

/*
#figma_logo {
    width: 30px;
}

#git_logo {
    width: 80px;
    color: white;
}

#webflow_logo {
    width: 120px
}
*/

.dee-font-mono {
    font-family: 'Roboto Mono';
}

.dee-font-primary {
    font-family: Public Sans;
}

.dee-font-secondary {
    font-family: Roboto;
}

.dee-big-heading {
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
}

#insp_brittany {
    width: 24px;
}


@media only screen and (max-width: 500px) {
    #insp_brittany {
        width: 24px;
    }

    #insp_coolicons {
        width: 120px;
    }

    #insp_tailwindcss {
        width: 130px;
    }
}
