@font-face {
    font-family: 'calibre';
    src: url('../fonts/calibre/CalibreRegular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'calibre';
    src: url('../fonts/calibre/CalibreSemibold.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'calibre';
    src: url('../fonts/calibre/CalibreBold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'sf-mono';
    src: url('../fonts/sf-mono/SFMonoBold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'sf-mono';
    src: url('../fonts/sf-mono/SFMonoRegular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'sf-mono';
    src: url('../fonts/sf-mono/SFMonoSemibold.otf');
    font-style: normal;
    font-weight: 600;
}
* {
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

#email-body {
    resize: none;
}

/*
#figma_logo {
    width: 30px;
}

#git_logo {
    width: 80px;
    color: white;
}

#webflow_logo {
    width: 120px
}
*/

.dee-font-mono {
    font-family: 'sf-mono';
}

.dee-font-calibre {
    font-family: calibre;
}

.dee-big-heading {
    font-size: clamp(38px, 8vw, 75px);
    font-weight: 600;
}

.dee-medium-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
}

.dee-small-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.dee-font-xs {
    font-size: 13px;
    line-height: 22px;
}

.dee-font-sm {
    font-size: 15px;
    line-height: 24px;
}

.dee-font-md {
    font-size: 18px;
    line-height: 26px;
}

.dee-font-lg {
    font-size: 20px;
    line-height: 28px;
}

#inspiration-brittany {
    width: 24px;
}


@media only screen and (max-width: 500px) {
    #inspiration-brittany {
        width: 24px;
    }

    #inspiration-coolicons {
        width: 120px;
    }

    #inspiration-tailwindcss {
        width: 130px;
    }
}
