@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700;800;900&family=Roboto&family=Roboto+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

#figma_logo {
    width: 30px;
}

#git_logo {
    width: 80px;
    color: white;
}

#webflow_logo {
    width: 120px
}

.dee-font-mono {
    font-family: 'Roboto Mono';
}

.dee-font-primary {
    font-family: Public Sans;
}

.dee-font-secondary {
    font-family: Roboto;
}
